section.agenda
    .wrapper
        .agenda__session-block
            h2.title-size-m.section-title Agenda
            .agenda__time-sessions
                .agenda__sessions-container
                    .agenda__time-stamp
                        time.agenda__time-value 10:00
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs Entry & Welcome
                            p.agenda__description-sub Name / Title
                    .agenda__time-stamp
                        time.agenda__time-value 10:05
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs One platform from data center to cloud: Veeam data protection for global players
                            p.agenda__description-sub Name / Title
                    .agenda__time-stamp
                        time.agenda__time-value 10:20
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs Presentation of Veeam projects at Audi 
                    .agenda__time-stamp
                        time.agenda__time-value 10:40
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs Slot 3 Guest
                            p.agenda__description-sub Name / Title
                    .agenda__time-stamp
                        time.agenda__time-value 10:50
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs Coffee Break (5 minutes)
                    .agenda__time-stamp
                        time.agenda__time-value 10:55
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs Why modern backup?
                            p.agenda__description-sub Name / Title
                .agenda__sessions-container
                    .agenda__time-stamp
                        time.agenda__time-value 11:15
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs Traditional or topical? Tape vs. object storage
                            p.agenda__description-sub Name / Title
                    .agenda__time-stamp
                        time.agenda__time-value 11:25
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs Slot 6 Guest
                            p.agenda__description-sub Name / Title
                    .agenda__time-stamp
                        time.agenda__time-value 11:35
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs Data protection for container-based workloads: Kasten K10 for Kubernetes
                            p.agenda__description-sub Name / Title
                    .agenda__time-stamp
                        time.agenda__time-value 11:50
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs One platform from data center to cloud: Veeam data protection for global players
                            p.agenda__description-sub Name / Title
                    .agenda__time-stamp
                        time.agenda__time-value 12:00
                        .agenda__time-description
                            p.agenda__description-main.title-size-xxs End of session
