.cubes.animation-is-on
    .cubes__left
        .cube.cube--green-l
        .cube.cube--darkgreen-l
        .cube.cube--lightblue-l
        .cube.cube--blue-l
    .cubes__right
        .cube.cube--darkgreen-r
        .cube.cube--green-r
        .cube.cube--xgreen-r