form.mForm#toForm
    .mForm__row
        h2.title-size-s.mForm__title Register Now
    .mForm__row
        input(type='text' name='first_name' placeholder='First name' value='{{lead.FirstName-MKTO}}' maxlength='40' data-validators='required,name')
    .mForm__row
        input(type='text' name='last_name' placeholder='Last name' value='{{lead.LastName-MKTO}}' maxlength='80' data-validators='required,name')
    .mForm__row
        input(type='text' name='email' placeholder='Business email' value='{{lead.Email Address}}' data-validators='required,email,business')
    .mForm__row
        input(type='text' name='company' placeholder='Company' value='{{lead.Company-MKTO}}' maxlength='80' data-validators='required,company')
    .mForm__row
        input(type='text' name='jobdescription' placeholder='Job title' value='{{lead.Job Title}}' maxlength='160' data-validators='required')
    .mForm__row
        input(type='text' name='phone' placeholder='Phone' value='{{lead.Phone Number}}' maxlength='40' data-validators='required,phone')
    .mForm__row
        select(name='country' data-validators='required')
            option(value='' disabled='' selected='') Select country...
    input(type='hidden' name='form_type' value='webinar_registration')
    input(type='hidden' name='cc' value='webinar_th_9451')
    input(type='hidden' name='ty' value='#')
    button.mSubmit.mForm__btn-green(type='submit' name='SubmitForm' data-validators='submit')
        | Register now
