section.division.speakers-container
    .wrapper
        h2.title-size-m.section-title Speakers
        .speakers
            .speakers__item
                img.speakers__img(src='https://go.veeam.com/rs/870-LBG-312/images/Richard_May_70x80_2x.jpg' alt='Richard May' width='120' height='120')
                .speakers__info
                    p.speakers__name.title-size-xxs Richard May
                    p.speakers__job-title Managing Director at virtual DCS
            .speakers__item
                img.speakers__img(src='https://go.veeam.com/rs/870-LBG-312/images/Piotr_Podlawski_70x80_2x.jpg' alt='Piotr Podlawski' width='120' height='120')
                .speakers__info
                    p.speakers__name.title-size-xxs Piotr Podlawski
                    p.speakers__job-title Cloud Business Director, Beyond.pl
            .speakers__item
                img.speakers__img(src='https://go.veeam.com/rs/870-LBG-312/images/weronika_stanko_70x80_2x.jpg' alt='Weronika Stanko' width='120' height='120')
                .speakers__info
                    p.speakers__name.title-size-xxs Weronika Stanko
                    p.speakers__job-title Inside Hosting Manager, Eastern Europe, Veeam
            .speakers__item
                img.speakers__img(src='https://go.veeam.com/rs/870-LBG-312/images/Andrzej_Niziolek_70x80_2x.jpg' alt='Andrzej Niziolek' width='120' height='120')
                .speakers__info
                    p.speakers__name.title-size-xxs Andrzej Niziolek
                    p.speakers__job-title Senior Regional Sales Director, Eastern Europe, Veeam
            .speakers__item
                img.speakers__img(src='https://go.veeam.com/rs/870-LBG-312/images/Mike_Tonks_70x80_2x.jpg' alt='Mike Tonks' width='120' height='120')
                .speakers__info
                    p.speakers__name.title-size-xxs Mike Tonks
                    p.speakers__job-title Senior Territory Manager, Cloud UK & Ireland, Veeam
            .speakers__item
                img.speakers__img(src='https://go.veeam.com/rs/870-LBG-312/images/Oscar_Gawron_70x80_2x.jpg' alt='Oskar Gawron' width='120' height='120')
                .speakers__info
                    p.speakers__name.title-size-xxs Oskar Gawron
                    p.speakers__job-title Backup, Storage & VMware Architect
