section.venue
    .wrapper
        h2.title-size-m.section-title Venue
        nav.menu-date
            ul.menu-date__list
                li.menu-date__item.js-map-tab.hover(data-show-sector='sector_1')
                    span.menu-date__venue
                        b.title-size-xxs Tuesday, Nov. 19
                        br
                        | The Westbury — Dublin
                li.menu-date__item.js-map-tab(data-show-sector='sector_2')
                    span.menu-date__venue
                        b.title-size-xxs Wednesday, Nov. 20
                        br
                        | The Lowry — Manchester
                li.menu-date__item.js-map-tab(data-show-sector='sector_3')
                    span.menu-date__venue
                        b.title-size-xxs Thursday, Nov. 21
                        br
                        | Charlotte Street — London
        .sector_menu-date
            // 1
            .sector-date-content(data-sector='sector_1' style='display:table;')
                // s - venue
                .sector-flex.venue-block
                    .venue-block__desc
                        p.venue-block__text.title-size-xs GITEX Technology Week
                        p.venue-block__text
                            a.venue-block__href(href='https://www.doylecollection.com/hotels/the-westbury-hotel' target='_blank')
                                | Dubai World trade Center
                            br
                            |  Balfe Street, Dublin 2, D02 CH66
                        p.venue-block__text.title-size-xxs 
                            | November 19
                            br
                            | Veeam Booth #C20, in Hall 7
                    .venue-block__map
                        div
                            #map1.id_map
                                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.855051067427!2d144.955234!3d-37.816864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4e876fbdb3%3A0x3a5ced3fce8bf91c!2sRoyal%20Melbourne%20Hotel!5e0!3m2!1sen!2sru!4v1652877855107!5m2!1sen!2sru' width='100%' height='340' style='border:0;' allowfullscreen='' loading='lazy')
            // 2
            .sector-date-content(data-sector='sector_2')
                // s - venue
                .sector-flex.venue-block
                    .venue-block__desc
                        p.venue-block__text.title-size-xs GITEX Technology Week
                        p.venue-block__text
                            a.venue-block__href(href='https://www.doylecollection.com/hotels/the-westbury-hotel' target='_blank')
                                | Dubai World trade Center
                            br
                            | Manchester 
                        p.venue-block__text.title-size-xxs 
                            | November 20
                            br
                            | Veeam Booth #C20, in Hall 7
                    .venue-block__map
                        div
                            #map2.id_map
                                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.855051067427!2d144.955234!3d-37.816864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4e876fbdb3%3A0x3a5ced3fce8bf91c!2sRoyal%20Melbourne%20Hotel!5e0!3m2!1sen!2sru!4v1652877855107!5m2!1sen!2sru' width='100%' height='340' style='border:0;' allowfullscreen='' loading='lazy')
            // 3
            .sector-date-content(data-sector='sector_3')
                // s - venue
                .sector-flex.venue-block
                    .venue-block__desc
                        p.venue-block__text.title-size-xs GITEX Technology Week
                        p.venue-block__text
                            a.venue-block__href(href='https://www.doylecollection.com/hotels/the-westbury-hotel' target='_blank')
                                | Dubai World trade Center
                            br
                            |  London
                        p.venue-block__text.title-size-xxs 
                            | November 21
                            br
                            | Veeam Booth #C20, in Hall 7
                    .venue-block__map
                        div
                            #map3.id_map
                                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.855051067427!2d144.955234!3d-37.816864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4e876fbdb3%3A0x3a5ced3fce8bf91c!2sRoyal%20Melbourne%20Hotel!5e0!3m2!1sen!2sru!4v1652877855107!5m2!1sen!2sru' width='100%' height='340' style='border:0;' allowfullscreen='' loading='lazy')