meta(charset='utf-8')
title
link(rel='shortcut icon' href='https://www.veeam.com/favicon.ico')
meta(name='viewport' content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible' section='IE=edge')
link(rel='stylesheet' type='text/css' href='https://psr.veeam.com/global/css/lp_template_general.css')
script(type='text/javascript' src='https://psr.veeam.com/global/js/jquery-2.0.0.min.js')
