.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  &__text {
    margin-bottom: 32px;
  }

  &__main-title{
    margin-bottom: 32px;
  }

  &__sub-title{
    font-weight: 400;
    margin-bottom: 32px;
  }

  &__item {
    width: 100%;

    &--form {
      flex-shrink: 0;
      max-width: 390px;

      @include big-tablet-down {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
      }
    }

    &:not(:last-child) {
      margin-right: 105px;
    }
  }

  @include big-tablet-down {
    display: block;
  }
}
