footer#veeam_footer
    .footer-v3
        .footer
            section.footer__section
                .footer__copyright
                    span.footer__copyright-first-line ©2022 Veeam® Software
                    span.hide768   |
                    a(href='https://www.veeam.com/privacy-notice.html' target='_blank') Privacy Notice
                    |   |
                    a(href='https://www.veeam.com/cookie-notice.html' target='_blank') Cookie Notice
                    |   |
                    a(href='https://www.veeam.com/eula.html' target='_blank') EULA
                    |   |
                    a(href='https://www.veeam.com/licensing-policy.html' target='_blank') Licensing Policy
            section.footer__section
                .footer__communities-links
                    a(href='https://twitter.com/veeam' target='_blank' aria-label='Twitter' rel='noopener')
                        i.fa.fa-twitter
                    a(href='https://www.facebook.com/VeeamSoftware' target='_blank' aria-label='Facebook' rel='noopener')
                        i.fa.fa-facebook
                    a(href='https://www.linkedin.com/company/veeam-software/' target='_blank' aria-label='LinkedIn' rel='noopener')
                        i.fa.fa-linkedin
                    a(href='https://www.youtube.com/user/YouVeeam' target='_blank' aria-label='YouTube' rel='noopener')
                        i.fa.fa-youtube-play
