header.header
    .wrapper
        include ../blocks/cubes
        .logo-section.header__logos
            a.logo-section__item(href='https://www.veeam.com' target='_blank')
                img.veeam_logo_cloudclub(src='https://psr.veeam.com/global/img/logo/veeam_cloud_club.svg' alt='Veeam' width='420' height='80')
        .header__text
            h1.title-size-xxl.header__title 
                | Learn more about DPaaS 
                br
                | at VCSP Cloud Club
            h4.calendar February, 16  |  11.00 EET
            .g-cta.header__btn
                a.g-cta__btn-primary.js-g-scroll(href='#toForm') join us
