main.division.my-info
    .wrapper
        .main-container
            .main-container__item
                h2.title-size-m.main-container__main-title Join the Veeam® Cloud & Service Provider (VCSP) Cloud Club event
                h4.title-size-xs.main-container__sub-title The cloud computing Disaster Protection as a Service (DPaaS) services are growing and the market is constantly changing. Private cloud vendors are getting their chance, as they are simpler and cheaper. Customers are opting for hybrid options, using a mix of cloud services.
                p.main-container__text Join the Veeam® Cloud & Service Provider (VCSP) Cloud Club event on Feb. 16 to learn more from the top expert cloud providers in the industry and have a discussion with them about current cloud market possibilities for you as a reseller or a cloud provider. Some of the advantages provided by Veeam cloud providers include airgaps, off‑site protection, security, compliance, first‑class technology, expertise, flexibility and cost optimization for clients. This event will include:
                ul.g-list
                    li.g-list__item
                        | Discussion on best practices
                    li.g-list__item
                        | How to be successful
                    li.g-list__item
                        | What opportunities there are with Veeam
                    li.g-list__item
                        | And more!
            .main-container__item.main-container__item--form
                include ../blocks/form
