@mixin widescreen-width {
  @media screen and (max-width: #{$widescreen-width}) {
    @content;
  }
}

@mixin extra-big-tablet-width {
  @media screen and (max-width: #{$extra-big-tablet-width}) {
    @content;
  }
}

@mixin big-tablet-width {
  @media screen and (max-width: #{$big-tablet-width}) {
    @content;
  }
}

@mixin tablet-width {
  @media screen and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mob-width {
  @media screen and (max-width: #{$mob-width}) {
    @content;
  }
}

@mixin mob-mini-width {
  @media screen and (max-width: #{$mob-mini-width}) {
    @content;
  }
}


@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin transition {
  transition: all 0.3s ease-out;
}


@mixin set-font-size($size) {
  font-size: $size;
  line-height: $size + 8;
}


