.title {
  @each $name, $size in $title-sizes {
    &-size-#{$name} {
      @each $screen, $value in $size {
        @if $screen == 'desktop' {
          @include set-font-size($value);
        }

        @include tablet-down {
          @if $screen == 'tablet' {
            @include set-font-size($value);
          }
        }

        @include mob-down {
          @if $screen == 'mobile' {
            @include set-font-size($value);
          }
        }
      }
    }
  }
}

.highlight {
  color: $color-peridot;
}

.highlight-dark {
  color: $color-topaz;
}

.highlight-upper {
  text-transform: uppercase;
}

.flag {
  text-transform: uppercase;
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

