@import 'normalize.scss';
@import 'helpers.scss';
@import 'mixins.scss';
@import 'typography.scss';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background-color: green;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  max-width: 1270px;
  padding: 0 15px;
  @include margin-auto;
}

// Add your code here
